.slider-container{
  padding-top: 2rem;
  margin-top: 2rem;
  height: 40vh;
}
/* Add this CSS to your stylesheet */
.recipe-card {
  perspective: 1000px;
  cursor: pointer;
  position: relative;

}

/* Add this class when you want to flip the card */
.flipped {
  animation: flip .5s ease-in-out;
 
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
  /* animation: slide 10s linear infinite; */
}

